# === Binary and Build Artifacts ===
**/bin/
*.exe
*.o
*.obj
*.stackdump
*.pdb
*.ilk
*.idb
*.pch
*.dSYM/
**/out/
**/build/
**/cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt

# === IDE and Editor Settings ===
**/.idea/
**/.vs/
.vscode/
tasks.json

*.suo
*.user
*.VC.db
*.class

# === Contest/CP Outputs ===
*.inp
*.out
*:tests